@model OrderDetailsModelView


<h4 class="pb-2">Dodawanie zamówienia</h4>

<form method="post" class="row" asp-controller="Order" asp-action="ExecuteCreation">

<div class="row">
	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.Document">Nr dokumentu:</label>
		<input class="form-control border-0 shadow mb-2" value="@Model.Document" asp-for="@Model.Document" />
		<span class="text-danger" asp-validation-for="@Model.Document"></span>
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.SupplierName">Dostawca:</label>
			<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.SupplierId">
				<option disabled selected>-- Wybierz dostawcę --</option>
			</select>
	</div>

		<div class="col-2">
			<label class="ms-2 pb-2" asp-for="@Model.CreationDate">Data zamówienia:</label>
			<input class="form-control border-0 shadow mb-2" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="@Model.CreationDate" />
		</div>

		<div class="col-2">
			<label class="ms-2 pb-2" asp-for="@Model.Status">Status:</label>
			<select class="form-select border-0 shadow mb-2" asp-items="@Model.StatusList" asp-for="@Model.Status">
				<option disabled selected>-- Wybierz status --</option>
			</select>
			<span class="text-danger" asp-validation-for="@Model.Status"></span>
		</div>
</div>

	<div id="items" class="d-flex">
		@for (var i = 0; i < Model.OrderDetails.Count(); i++)
		{
			<div class="col-2 row form-group m-lg-2">

				<label class="ms-2 pb-2" asp-for="@Model.OrderDetails[i].ProductId">Indeks:</label>
				<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.OrderDetails[i].ProductId">
					<option disabled selected>-- Wybierz towar --</option>
				</select>

				<label class="ms-2 pb-2" asp-for="@Model.OrderDetails[i].Quantity">Ilość:</label>
				<input class="form-control border-0 shadow mb-2" asp-for="@Model.OrderDetails[i].Quantity" />

			</div>
		}
	</div>

	<div class="row">
	<label class="ms-2 pb-2" asp-for="@Model.Remarks">Uwagi do zamówienia:</label>
	<textarea class="form-control border-0 shadow mb-2" asp-for="@Model.Remarks"></textarea>
	</div>

	<button type="submit" class="btn btn-success form-control mb-2">Dodaj</button>
	<a class="btn btn-secondary" asp-controller="Order" asp-action="Index">Wróć do listy</a>

</form>

