@model OrderModel

@if (Model.IsEdit)
{
	<h4 class="pb-2">Edycja zamówienia</h4>
}
else
{
	<h4 class="pb-2">Dodawanie zamówienia</h4>
}

@{
	//var jsonModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

@* <input id="currentSupplier" hidden asp-for="@Model.SupplierEmail"/> *@

<form id="form" class="row" data-url="@(Model.IsEdit ? Url.Action("Edit") : Url.Action("Create"))">

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.Document">Nr dokumentu:</label>
		<input id="Document" class="form-control border-0 shadow mb-4" value="@Model.Document" asp-for="@Model.Document" />
		<span class="text-danger" asp-validation-for="@Model.Document"></span>
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2">Dostawca:</label>
		@* <input id="SupplierId" class="form-control border-0 shadow mb-4" asp-for="@Model.SupplierName" /> *@
		@* @if (!Model.IsEdit)
		{
			<select id="SupplierId" class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.SupplierId">
			</select>
		} *@

		<select id="SupplierId" class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.SupplierId">
		</select>
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.CreationDate">Data zamówienia:</label>
		<input id="CreationDate" class="form-control border-0 shadow mb-2" type="date" asp-for="@Model.CreationDate" />
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.Status">Status:</label>
		<select id="Status" class="form-select border-0 shadow mb-2" asp-items="@Model.StatusList" asp-for="@Model.Status">
		</select>
	</div>

	@if (Model.IsEdit)
	{
		<div class="col-2">
			<input id="submitButton" type="button" class="btn btn-info" value="Zatwierdź zmiany" />
		</div>

		@* <input id="OrderId" class="form-control border-0 shadow mb-2" type="text" asp-for="@Model.Id" /> *@
	}
	else
	{
		<div class="col-2">
			<input id="submitButton" type="button" class="btn btn-success" value="Dodaj zamówienie" />
		</div>
	}


	<h7 id="Warning" style="color: red"></h7>

	<div class="row">
		<label class="ms-2 pb-2" asp-for="@Model.Remarks">Uwagi do zamówienia:</label>
		<textarea id="Remarks" class="form-control border-0 shadow mb-5" value="@Model.Remarks" asp-for="@Model.Remarks"></textarea>
	</div>

	@* <input id="OrderId" hidden class="form-control border-0 shadow mb-2" type="text" name="OrderId" value="@Model.Id" asp-for="@Model.Id" /> *@

	<table id="table" class="table table-bordered table-striped" style="width: 100%">
		<thead>
		<th>
			Index
		</th>
		<th>
			Ilość
		</th>
			@if (!Model.IsEdit)
			{
			<th>
				<input id="addRowButton" type="button" class="btn btn-success" value="Dodaj kolejny" />
			</th>
			}
		</thead>

		<tbody id="parentTable">
			@if (Model.IsEdit)
			{
				
				@foreach (var item in Model.OrderDetails)
				{
					
					
					<tr name="item">
						
						<td>
							<input hidden id="OrderItemId" toggle="item-property" asp-for="@item.Id" value="@item.Id"></input>
							<select id="itemCode" class="form-select border-0 shadow mb-4" asp-items="@item.Items" toggle="item-property">
								@* <option selected>@item.ProductItemCode</option> *@
							</select>
						</td>
						<td>
							<input class="form-control border-0 shadow mb-2" type="text" value="@item.Quantity" toggle="item-property" />
						</td>
					</tr>
				}
			}
			else
			{
				<tr name="item">
					<td>
						<input hidden id="OrderItemId" toggle="item-property" value="0"></input>
						<select id="itemCode" class="form-select border-0 shadow mb-4" asp-items="@Model.Products" toggle="item-property">
							@* <option selected>@item.ProductItemCode</option> *@
						</select>
					</td>
					<td>
						<input class="form-control border-0 shadow mb-2" type="text" toggle="item-property" name="items-property" />
					</td>
				</tr>
			}
			

		</tbody>
	</table>

	<a class="btn btn-secondary" asp-controller="Order" asp-action="Index">Wróć do listy</a>

</form>

@section Scripts
{
	<script>
		$(document).ready(function () {
			const addRecord = () => {
				let row = `
								<tr name="item">
								<td>
									<input hidden id="OrderItemId" toggle="item-property" name="items-property" type="text" value="0" />
									@Html.DropDownList("items", Model.Products, new { @class = "form-select border-0 shadow mb-2", @toggle = "item-property" })
								</td>
								<td>
									<input toggle="item-property" name="items-property" class="form-control border-0 shadow mb-2" type="text" />
								</td>
								<td>
									<input type="button" class="btn btn-danger" value="Usuń" onclick="removeRecord(this)"/>
								</td>
								</tr>
									`;

				console.log('row', row);

				$('#table tr:last').after(row);
			}

			$('#addRowButton').click(() => {
				addRecord();
			});

			// let supplierValue = $('#currentSupplier').val();

			// if (supplierValue != null)
			// {
			// 	$('#supplierId').val() = supplierValue;
			// }


			

			const select = $('#Status');
			console.log(select.data('default'));
			//$('#Status').val(select.data('default'));

			$('#submitButton').click((e) => {
				//e.preventDefault();
				$('#Warning').text('');
				onSubmit();
			});

			let isCorrectData;

			const onSubmit = () => {

				isCorrectData = true;

				const form = {
					document: '',
					supplierId: '',
					creationDate: '',
					statusId: '',
					remarks: '',
					orderDetails: [],
					orderId: 0
				};

				console.log('document', $('#Document').val());
				form.document = $('#Document').val();

				console.log('SupplierId', $('#SupplierId').val());
				form.supplierId = $('#SupplierId').val();

				console.log('creationDate', $('#CreationDate').val());
				form.creationDate = $('#CreationDate').val();

				console.log('status', $('#Status').val());
				form.statusId = $('#Status').val();

				console.log('remarks', $('#Remarks').val());
				form.remarks = $('#Remarks').val();

				console.log('orderId', $('#OrderId').val());
				form.orderId = $('#OrderId').val();

				if (form.document.length == 0) {
					isCorrectData = false;
					$('#Warning').append('Uzupełnij nr dokumentu');
				}

				if (form.supplierId.length == 0) {
					isCorrectData = false;
					$('#Warning').append('Uzupełnij dostawcę');
				}

				if (form.statusId.length == 0) {
					isCorrectData = false;
					$('#Warning').append('Uzupełnij status');
				}

				const items = $('tr[name="item"]');
				// console.log(items);

				const elements = [];

				$.each(items, function () {
					// elementy listy
					console.log(this);

					const properties = $(this).find('[toggle="item-property"]');
					console.log('properties: ');

					const item = {};

					// wiem, ze pierwszy element to product, 2 to supplier i 3 to quantity
					let i = 0;
					// let isCorrectData = true;

					$.each(properties, function (index, element) {

						//item.orderItemId = $(this).val();
						if (i === 0) {
							item.Id = $(this).val();
						}

						if (i === 1) {
							item.productId = $(element).val();
						}

						// if (i === 1) {
						// 	item.supplierId = $(this).val();
						// }

						if (i === 2) {
							item.quantity = $(this).val();
							let c = parseInt(item.quantity);

							//console.log(c);
							if (isNaN(c) && c <= 0) {
								//console.log('TRUE');
								isCorrectData = false;
								$(element).val('Niepoprawne dane');
							}
						}

						

						i++;
					});

					elements.push(item);
				});

				console.log('FINAL:');
				console.log(elements);

				form.orderDetails = elements;

				console.log('FORM:');
				console.log(form);

				const data = $('#form');
				console.log(data.data('url'));

				if (isCorrectData) {

					console.log('isCorrectData:', isCorrectData);

					$.ajax({
						url: data.data('url'),
						method: 'POST',
						data: form,
						success: function (response) {
							console.log('zwrocono dane:');
							console.log(response);
							window.location.href = response.redirectToUrl;
						},
						error: function (error) {
							console.log(error.error);
						}

					});
				}
			}
		});

		function removeRecord(tr) {

			document.getElementById("parentTable").removeChild(tr.parentNode.parentNode);
		}



	</script>
}


