@model OrderModel

<h4 class="pb-2">Usuwanie zamówienia</h4>

<form method="post" class="row" asp-controller="Order" asp-action="Remove" asp-route-id="@Model.Id">

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.Document">Nr dokumentu:</label>
		<input id="Document" disabled class="form-control border-0 shadow mb-4" value="@Model.Document" asp-for="@Model.Document" />
		<span class="text-danger" asp-validation-for="@Model.Document"></span>
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.SupplierName">Dostawca:</label>
		<input id="SupplierId" disabled class="form-control border-0 shadow mb-4" value="@Model.SupplierName" asp-for="@Model.SupplierName" />
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.CreationDate">Data zamówienia:</label>
		<input id="CreationDate" disabled class="form-control border-0 shadow mb-2" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="@Model.CreationDate" />
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.Status">Status:</label>
		<input id="Status" disabled class="form-control border-0 shadow mb-4" value="@Model.Status" asp-for="@Model.Status" />
	</div>

	<div class="col-2">
		<input id="submitButton" type="submit" class="btn btn-danger" value="Usuń zamówienie" />
	</div>

	<div class="row">
		<label class="ms-2 pb-2" asp-for="@Model.Remarks">Uwagi do zamówienia:</label>
		<textarea disabled id="Remarks" class="form-control border-0 shadow mb-5" value="@Model.Remarks" asp-for="@Model.Remarks"></textarea>
	</div>

	<table id="table" class="table table-bordered table-striped" style="width: 100%">
		<thead>
		<th>
			Index
		</th>
		<th>
			Ilość
		</th>
		</thead>

		<tbody id="parentTable">
			@foreach (var item in Model.OrderDetails)
			{
				<tr>
					<td>
						<input disabled class="form-control border-0 shadow mb-2" type="text" value="@item.ProductItemCode" />
					</td>
					<td>
						<input disabled class="form-control border-0 shadow mb-2" type="text" value="@item.Quantity" />
					</td>
				</tr>
			}
			
		</tbody>
	</table>

	<a class="btn btn-secondary" asp-controller="Order" asp-action="Index">Wróć do listy</a>

</form>

