@model List<ProductFlowModel>

<h4 class="pb-2">Przepływ produktów we wszystkich magazynach</h4>



<div class="col-9 row">

	<table class="table table-bordered table-striped" style="width: 100%">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Typ
				</th>
				<th>
					Id Ruchu
				</th>
				<th>
					Magazyn
				</th>
				<th>
					Index
				</th>
				<th>
					Ilość
				</th>
				<th>
					Dostawca
				</th>
				<th>
					Data utworzenia
				</th>
				<th>

				</th>
			</tr>
		</thead>

		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@item.Id
					</td>
					<td>
						@item.MovementId
					</td>
					<td>
						@item.MovementType
					</td>
					<td>
						@item.Warehouse
					</td>
					<td>
						@item.ItemCode
					</td>
					<td>
						@item.Quantity
					</td>
					<td>
						@item.Supplier
					</td>
					<td>
						@item.CreationDate
					</td>
					<td>
						<a class="btn btn-danger mb-2" asp-controller="ProductFlow" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
					</td>
				</tr>
			}

		</tbody>
	</table>

</div>
Wyświetl na stronie:
<div class="col-1">
<select class="form-select border-0 shadow mb-2">
	<option selected>20</option>
	<option>50</option>
	<option>100</option>
</select>
</div>