@using WebAppWare.Database.Entities
@* @model List<ProductFlowModel> *@
@model ProductFlowModel

<h4 class="pb-2">Przepływ produktów we wszystkich magazynach</h4>

<form method="post" class="row" asp-controller="ProductFlow" asp-action="Search">
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<label class="ms-2">Magazyn:</label>
			<input class="form-control border-0 shadow mb-4" asp-for="@Model.SearchWarehouse" />
		</div>
		<div class="col-md-2">
			<label class="ms-2">Index:</label>
			<input class="form-control border-0 shadow mb-4" asp-for="@Model.SearchItemCode"/>
		</div>
		<div class="col-md-2">
			<label class="ms-2">Dostawca:</label>
			<input class="form-control border-0 shadow mb-4" asp-for="@Model.SearchSupplier" />
		</div>

		<div class="col-md-2">
				<button type="submit" class="btn btn-success form-control mb-2">Szukaj</button>

		</div>

		<div class="col-md-2">
			<a class="btn btn-secondary mb-2" asp-controller="ProductFlow" asp-action="Index">Pokaż wszystkie</a>
		</div>
	</div>
</div>
</form>



<div class="col-9 row">

	<table class="table table-bordered table-striped" style="width: 100%">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Typ
				</th>
				<th>
					Id ruchu
				</th>
				<th>
					Magazyn
				</th>
				<th>
					Index
				</th>
				<th>
					Ilość
				</th>
				<th>
					Dostawca
				</th>
				<th>
					Data utworzenia
				</th>
				<th>

				</th>
			</tr>
		</thead>

		<tbody>

			@foreach (var item in Model.ProductsFlow)
			{
				string action = "Delete";

				if (item.MovementType == MovementType.MM)
				{
					action = "DeleteMmM";
				}

				<tr>
					<td>
						@item.Id
					</td>
					<td>
						@item.Movement.MovementType
					</td>
					<td>
						@item.Movement.Id
					</td>
					<td>
						@if (item.WarehouseToId != null)
						{
							if (item.Quantity < 0)
							{
								@item.WarehouseName
							}
							else
							{
								@item.WarehouseName
							}
						}
						else
						{
							@item.WarehouseName
						}						
					</td>
					<td>
						@item.ProductItemCode
					</td>
					<td>
						@item.Quantity
					</td>
					<td>
						@item.SupplierName
					</td>
					<td>
						@item.Movement.CreationDate
					</td>
					<td>
						<a class="btn btn-danger mb-2" asp-controller="ProductFlow" asp-action="@action" asp-route-id="@item.Id">Usuń</a>
					</td>
				</tr>
			}

		</tbody>
	</table>

	<nav aria-label="...">
		<ul class="pagination">

			@if (Model.CurrentPage > 1)
			{
				<li class="page-item">
					<a class="page-link" href="/ProductFlow/Search?currentPage=@(Model.CurrentPage-1)&SearchWarehouse=@Model.SearchWarehouse&SearchItemCode=@Model.SearchItemCode&SearchSupplier=@Model.SearchSupplier" tabindex="-1">Poprzednia</a>
				</li>
			}
			else
			{
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Poprzednia</a>
				</li>
			}

			@for (int i = 1; i <= Model.TotalPages; i++)
			{
				@if (i == Model.CurrentPage)
				{
					<li class="page-item active">
						<a class="page-link" href="/ProductFlow/Search?currentPage=@i&warehouse=@Model.SearchWarehouse&itemCode=@Model.SearchItemCode&supplier=@Model.SearchSupplier"> <span class="sr-only">@i</span></a>
					</li>
				}
				else
				{
					<li class="page-item"><a class="page-link" href="/ProductFlow/Search?currentPage=@i&warehouse=@Model.SearchWarehouse&itemCode=@Model.SearchItemCode&supplier=@Model.SearchSupplier">@i</a></li>
				}
			}

			@if (Model.CurrentPage < Model.TotalPages)
			{
				<li class="page-item">
					<a class="page-link" href="/ProductFlow/Search?currentPage=@(Model.CurrentPage+1)&warehouse=@Model.SearchWarehouse&itemCode=@Model.SearchItemCode&supplier=@Model.SearchSupplier">Następna</a>
				</li>
			}
			else
			{
				<li class="page-item disabled">
					<a class="page-link" href="#">Następna</a>
				</li>
			}



		</ul>
	</nav>

</div>

