@model ProductFlowMovementModel

@{
	var items = Model.ProductFlowModels.ToArray();
}

<h4 class="pb-2">Dodawanie PZ</h4>

<form method="post" class="row" asp-controller="Movement" asp-action="CreatePz">

	<div class="col-12">
		<label class="ms-2 pb-2" asp-for="@Model.Document">Nr dokumentu:</label>
		<input class="form-control border-0 shadow mb-2" value="@Model.Document" asp-for="@Model.Document" />
		<span class="text-danger" asp-validation-for="@Model.Document"></span>
	</div>

	<div id="items" class="d-flex">
		@for (var i = 0; i < items.Length; i++)
		{
			<div class="col-2 row form-group m-lg-2">

				<label class="ms-2 pb-2" asp-for="@items[i].ProductId">Indeks:</label>
				<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[i].ProductId">
					<option disabled selected>-- Wybierz towar --</option>
				</select>

				<label class="ms-2 pb-2" asp-for="@items[i].Supplier">Dostawca:</label>
				<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[i].SupplierId">
					<option disabled selected>-- Wybierz dostawcę --</option>
				</select>

				<label class="ms-2 pb-2" asp-for="@items[i].Quantity">Ilość:</label>
				<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[i].Quantity" />

			</div>
		}
	</div>

	<label class="ms-2 pb-2" asp-for="@Model.Warehouses">Magazyn:</label>
	<select class="form-select border-0 shadow mb-2" asp-items="@Model.Warehouses" asp-for="@Model.WarehouseId">
		<option disabled selected>-- Wybierz magazyn --</option>
	</select>
	<span class="text-danger" asp-validation-for="@Model.Warehouse"></span>


	<button type="submit" class="btn btn-success form-control mb-2">Dodaj</button>
	<a class="btn btn-secondary" asp-controller="Movement" asp-action="Index">Wróć do listy</a>

</form>

