@model ProductFlowMovementModel

<h4 class="pb-2">Dodawanie WZ</h4>

<form method="post" class="row" asp-controller="Movement" asp-action="CreateWz">

	<div class="col-12">
		<label class="ms-2 pb-2" asp-for="@Model.Document">Nr dokumentu:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.Document" />
		<span class="text-danger" asp-validation-for="@Model.Document"></span>
	</div>

	@for (var i = 0; i < Model.ProductFlowModels.Count(); i++)
	{
		<div class="col-2 row form-group m-lg-2">

			<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels.ElementAt(i).ProductId">Indeks:</label>
			<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[i].ProductId">
				<option disabled selected>-- Wybierz towar --</option>
			</select>

			<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels.ElementAt(i).Supplier">Dostawca:</label>
			<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[i].SupplierId">
				<option disabled selected>-- Wybierz dostawcę --</option>
			</select>

			<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[i].Quantity">Ilość:</label>
			<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[i].Quantity" />

		</div>
	}


@* 	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[0].ProductItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[0].ProductId">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[0].Supplier">Odbiorca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[0].Supplier">
			<option disabled selected>-- Wybierz odbiorcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[0].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[0].Quantity" />

	</div>

	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[1].ProductItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[1].ProductId">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[1].Supplier">Odbiorca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[1].Supplier">
			<option disabled selected>-- Wybierz odbiorcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[1].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[1].Quantity" />

	</div>

	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[2].ProductItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[2].ProductId">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[2].Supplier">Odbiorca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[2].Supplier">
			<option disabled selected>-- Wybierz odbiorcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[2].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[2].Quantity" />

	</div>

	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[3].ProductItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[3].ProductId">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[3].Supplier">Odbiorca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[3].Supplier">
			<option disabled selected>-- Wybierz odbiorcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[3].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[3].Quantity" />

	</div>

	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[4].ProductItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[4].ProductId">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[4].Supplier">Odbiorca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[4].Supplier">
			<option disabled selected>-- Wybierz odbiorcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[4].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[4].Quantity" />

	</div> *@

	<label class="ms-2 pb-2" asp-for="@Model.Warehouses">Magazyn:</label>
	<select class="form-select border-0 shadow mb-2" asp-items="@Model.Warehouses" asp-for="@Model.WarehouseId">
		<option disabled selected>-- Wybierz magazyn --</option>
	</select>
	<span class="text-danger" asp-validation-for="@Model.Warehouse"></span>


	<button type="submit" class="btn btn-success form-control mb-2">Dodaj</button>
	<a class="btn btn-secondary" asp-controller="Movement" asp-action="Index">Wróć do listy</a>

</form>