@model ProductFlowMovementModel

<h4 class="pb-2">Dodawanie PZ</h4>

<form method="post" class="row" asp-controller="Movement" asp-action="CreatePz">

	<div class="col-12">
		<label class="ms-2 pb-2" asp-for="@Model.Document">Nr dokumentu:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.Document" />
		<span class="text-danger" asp-validation-for="@Model.Document"></span>
	</div>


@* @foreach (var item in Model.ProductFlowModels)
	{
		<div class="col-2 row form-group m-lg-2">

			<label class="ms-2 pb-2" asp-for="@item.ItemCode">Indeks:</label>
			<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@item.ItemCode">
				<option disabled selected>-- Wybierz towar --</option>
			</select>

			<label class="ms-2 pb-2" asp-for="@item.Supplier">Dostawca:</label>
			<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@item.Supplier">
				<option disabled selected>-- Wybierz dostawcę --</option>
			</select>

			<label class="ms-2 pb-2" asp-for="@item.Quantity">Ilość:</label>
			<input class="form-control border-0 shadow mb-2" asp-for="@item.Quantity" />

		</div>
	} *@


	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[0].ItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[0].ItemCode">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[0].Supplier">Dostawca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[0].Supplier">
			<option disabled selected>-- Wybierz dostawcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[0].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[0].Quantity" />

	</div>

	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[1].ItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[1].ItemCode">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[1].Supplier">Dostawca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[1].Supplier">
			<option disabled selected>-- Wybierz dostawcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[1].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[1].Quantity" />

	</div>

	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[2].ItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[2].ItemCode">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[2].Supplier">Dostawca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[2].Supplier">
			<option disabled selected>-- Wybierz dostawcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[2].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[2].Quantity" />

	</div>

	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[3].ItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[3].ItemCode">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[3].Supplier">Dostawca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[3].Supplier">
			<option disabled selected>-- Wybierz dostawcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[3].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[3].Quantity" />

	</div>

	<div class="col-2 row form-group m-lg-2">

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[4].ItemCode">Indeks:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Products" asp-for="@Model.ProductFlowModels[4].ItemCode">
			<option disabled selected>-- Wybierz towar --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[4].Supplier">Dostawca:</label>
		<select class="form-select border-0 shadow mb-2" asp-items="@Model.Suppliers" asp-for="@Model.ProductFlowModels[4].Supplier">
			<option disabled selected>-- Wybierz dostawcę --</option>
		</select>

		<label class="ms-2 pb-2" asp-for="@Model.ProductFlowModels[4].Quantity">Ilość:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="@Model.ProductFlowModels[4].Quantity" />

	</div>

	<label class="ms-2 pb-2" asp-for="@Model.Warehouses">Magazyn:</label>
	<select class="form-select border-0 shadow mb-2" asp-items="@Model.Warehouses" asp-for="@Model.Warehouse">
		<option disabled selected>-- Wybierz magazyn --</option>
	</select>
	<span class="text-danger" asp-validation-for="@Model.Warehouse"></span>


	<button type="submit" class="btn btn-success form-control mb-2">Dodaj</button>
	<a class="btn btn-secondary" asp-controller="Movement" asp-action="Index">Wróć do listy</a>

</form>