@model ProductFlowMovementModel


<h4 class="pb-2">Dodawanie MM</h4>

<form id="form" class="row" data-url="@Url.Action("CreateWarehouseMovement")">

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.Document">Nr dokumentu:</label>
		<input id="Document" class="form-control border-0 shadow mb-4" value="@Model.Document" asp-for="@Model.Document" />
		<span class="text-danger" asp-validation-for="@Model.Document"></span>
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.Warehouses">Z magazynu:</label>
		<select id="WarehouseId" class="form-select border-0 shadow mb-4" asp-items="@Model.Warehouses" asp-for="@Model.WarehouseId">
			<option disabled selected>-- Wybierz magazyn --</option>
		</select>
	</div>

	<div class="col-2">
		<label class="ms-2 pb-2" asp-for="@Model.Warehouses">Do magazynu:</label>
		<select id="WarehouseToId" class="form-select border-0 shadow mb-4" asp-items="@Model.Warehouses" asp-for="@Model.WarehouseToId">
			<option disabled selected>-- Wybierz magazyn --</option>
		</select>
	</div>

	<div class="col-2">
		<input id="submitButton" type="button" class="btn btn-success" value="Zatwierdź" />
	</div>

	<table id="table" class="table table-bordered table-striped" style="width: 100%">
		<thead>
		<th>
			Index
		</th>
		<th>
			Ilość
		</th>
		<th>
			<input id="addRowButton" type="button" class="btn btn-success" value="Dodaj kolejny"/>
		</th>
		</thead>

		<tbody id="parentTable">
			<tr name="item">
				<td>
					@Html.DropDownList("items", Model.Products, new { @class = "form-select border-0 shadow mb-2", toggle = "item-property" })
				</td>
				<td>
					<input toggle="item-property" name="items-property" class="form-control border-0 shadow mb-2" type="text" />
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-secondary" asp-controller="Movement" asp-action="Index">Wróć do listy</a>

</form>

@section Scripts
{
	<script>
		$(document).ready(function () {
			const addRecord = () => {
				let row = `
									<tr name="item">
										<td>
					@Html.DropDownList("items", Model.Products, new { @class = "form-select border-0 shadow mb-2", toggle = "item-property" })
										</td>
										<td>
											<input toggle="item-property" name="items-property" class="form-control border-0 shadow mb-2" type="text" />
										</td>
										<td>
											<input type="button" class="btn btn-danger" value="Usuń" onclick="removeRecord(this)"/>
										</td>
									</tr>
								`;

				console.log('row', row);

				$('#table tr:last').after(row);
			}

			$('#submitButton').click((e) => {
				//e.preventDefault();

				onSubmit();
			});

			$('#addRowButton').click(() => {
				addRecord();
			});

			// $('#removeButton').click((tr) => {
			// 	removeRecord(this);
			// });

			let isCorrectData;

			const onSubmit = () => {

				isCorrectData = true;

				const form = {
					document: '',
					warehouseId: 0,
					warehouseToId: 0,
					productFlowModels: [],
					movementType: 3 // tutaj ustawiamy, ze to PZ
				};

				console.log('document', $('#Document').val());
				form.document = $('#Document').val();

				if (form.document.length == 0) {
					$('#Document').val('Niepoprawne dane');
					//form.document.val('Niepoprawne dane');
					isCorrectData = false;
				}

				//console.log('WarehouseId', $('#WarehouseId').val());
				form.warehouseId = $('#WarehouseId').val();

				form.warehouseToId = $('#WarehouseToId').val();

				const items = $('tr[name="item"]');
				// console.log(items);

				const elements = [];

				$.each(items, function () {
					// elementy listy
					console.log(this);

					const properties = $(this).find('[toggle="item-property"]');
					console.log('properties:');

					const item = {};

					// wiem, ze pierwszy element to product, 2 to supplier i 3 to quantity
					let i = 0;
					// let isCorrectData = true;

					$.each(properties, function (index, element) {
						if (i === 0) {
							item.productId = $(element).val();
						}

						// if (i === 1) {
						// 	item.supplierId = $(this).val();
						// }

						if (i === 1) {
							item.quantity = $(this).val();
							let c = parseInt(item.quantity);

							//console.log(c);
							if (isNaN(c)) {
								//console.log('TRUE');
								isCorrectData = false;
								$(element).val('Niepoprawne dane');
							}
						}

						i++;
					});

					elements.push(item);
				})

				console.log('FINAL:');
				console.log(elements);

				form.productFlowModels = elements;

				console.log('FORM:');
				console.log(form);

				const data = $('#form');
				console.log(data.data('url'));


				if (isCorrectData) {

					console.log('isCorrectData:', isCorrectData);

					$.ajax({
						url: data.data('url'),
						method: 'POST',
						data: form,
						success: function (response) {
							console.log('zwrocono dane:');
							console.log(response);
							window.location.href = response.redirectToUrl;
						},
						error: function (error) {
							console.log(error.error);
						}
					});
				}
			}

		});

		function removeRecord(tr) {

			document.getElementById("parentTable").removeChild(tr.parentNode.parentNode);
		}


	</script>
}

